.modal-content {
    background-color: rgba(135, 206, 235);
    border: 3px solid blue;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    width: 60vw;
}

.close {
    color: blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}